<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1"> 
        <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">   <!--gerekli olan bootstrap linklerini buraya ekliyoruz-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <title>Ada bank internet Bankacılığı</title>
    </head>
    <body>
<div class="bg-dark">
  <header id="header">    <!--ortada olmasını--> 
  <nav class="navbar navbar-expand-lg bg-body-tertiary"> <!--#renkleini belirler-->
    <div class="container-fluid">
      <a class="navbar-brand" href="#">adabank 
        <a class="fa-solid fa-landmark"></a>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Ana ekran</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">bildirim</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">ayarlar</a>
          </li>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">mesajlar</a>
        </li>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">ödeme planı</a>
      </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">müşteri hizmetleri</a></li>
          
              </ul>
            </li>
          </ul>
          <form class="d-flex" role="search">
            <input class="form-control ms-5 me-2 " type="search " placeholder="Ara" aria-label="ara">
            <button class="btn btn-outline-success" type="submit">ne aramak istediğiniz</button><!--# arama işleminin gerçekleşir-->
            <img src="C:/Users/ayhan/Desktop/bankaapi/adabank.jpg" alt="ada bank" border="0"align="right"/><!--#lpgo muzun resmi-->
            <li class="nav ">
              <script language="javascript" src="http://ir.sitekodlari.com/saat0.js"></script> <!-- saat ve döviz kurunu gösteren kod-->
              </li>
              <button type="button" class="btn-close" aria-label="Close"> </button>
              <a href="/login/anasayfa/">Güvenli çıkış</a>
<!--# çıkış simgesi-->
          </ul>
      </li>
    </ul>
  </div>
</div>
</nav>



</form>

    </form>
  </div>
</div>

        <form action="/login/anasayfa/limitvebakiye/hesapkapatma"method="POST"><<!--hesap kapatma ekrana geçilmesi-->
            <h3>Vadesiz tl/doviz hesap kapatma</h3><!--vadesiz hesap kapatma başlıgı-->
            hangi hesabı kapatmak istiyorsunuz:<select name="secme">
                <option>Tl hesabı</option><!--hesap seçilmesi-->
                <option>Euro hesabı</option>
                <option>Dolar hesabı</option>
                <option> Gram Altın</option>
            </select>
                      <p>Vadesiz hesap  kapatma işlemini onaylıyormusunuz.</p><!--işlemi onaylama aşaması-->
                    
                        <form>
                        <input type="button" value="evet" onClick='alert("vadesiz hesap kapatılmıştır")'><!--vadesiz hesabın kapatılması başarılı biçimde tamamlanmıştır-->
                        </form>
                      
                      <input type="button" value="hayır"><!--işlemin başarısız olması-->
                    </div>
                    
                    
                
              </div>
            </head>
            </body>
            </html>