<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">   <!--gerekli olan bootstrap linklerini buraya ekliyoruz-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <title>Ada bank internet Bankacılığı</title>
</head>

<body>
    <div class="bg-dark">
        <header id="header">    <!--ortada olmasını--> 
        <nav class="navbar navbar-expand-lg bg-body-tertiary"> <!--#renkleini belirler-->
          <div class="container-fluid">
            <a class="navbar-brand" href="#">adabank 
              <a class="fa-solid fa-landmark"></a>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">Ana ekran</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">bildirim</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">ayarlar</a>
                </li>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">mesajlar</a>
              </li>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">ödeme planı</a>
            </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">müşteri hizmetleri</a></li>
                    
                    </ul>
                  </li>
                </ul>
                <form class="d-flex" role="search">
                  <input class="form-control ms-5 me-2 " type="search " placeholder="Ara" aria-label="ara">
                  <button class="btn btn-outline-success" type="submit">ne aramak istediğiniz</button><!--# arama işleminin gerçekleşir-->
                  <img src="C:/Users/ayhan/Desktop/bankaapi/adabank.jpg" alt="ada bank" border="0"align="right"/><!--#lpgo muzun resmi-->
                  <li class="nav ">
                    <script language="javascript" src="http://ir.sitekodlari.com/saat0.js"></script> <!-- saat ve döviz kurunu gösteren kod-->
                    </li>
                    <button type="button" class="btn-close" aria-label="Close"></button>
                   <a href="/login/anasayfa/">Güvenli çıkış</a>
<!--# çıkış simgesi-->
                </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
   
</form>
</div>
</div>
</nav>

<form action="/login/anasayfa/limit ve bakiye/limit ve bakiye" method="POST"><!--limit ve bakiye ekranına geçilmesi-->
<h3>limit ve bakiye</h3> <!--başlık-->
<TABLE ALIGN =left Border WIDTH=40% bgcolor="gray"><!--tablonun rengini ve boyutunu belirlenmesi-->
<TR><td>
    <p>Kart bilgileri</p> <!--kart bilgileri-->
    <input type="text"name="kart numarası" value="556688443344">kart numarası<br/><!--kart numarası-->
    <input type="text"name="kart limit" value="50.0000">kart limit<br/><!--kart limiti-->
    <input type="text"name="müşteri limiti" value="50.0000">müşteri limiti<br/><!--müşteri limiti-->
    <input type="number"name="güncel limit" size="6" >güncel limit<br/><!--güncel limiti-->
    <input type="number"name="borç" size="6" >borç tutarı<br/> <!--borç tutarı-->
    <input type="text"name="son kesim tarihi"value="20.11.2023"> son kesim tarihi<br/><!-- son kesim tarihii-->
    <input type="text"name="sonraki son ödeme tarihi" value="20.10.2023">son ödeme tarihi<br/><!-- son ödeme tarihii-->
    <input type="number"name="puan" size="6" > puan<br/><!-- kart bilgileri ait puan bilgileri görünmesi-->
    <form>
        <input type="button" value="evet" onClick='alert("ana ekrana geçiş gerçekleşmiştir")'><!--işlemi yapıldıktan sonra ana ekranna geçilmesi-->
        <input type ="button" value="hayir" onClick='alert("işlem başarısız")'>
        </form>
</td></tr>

     


        </html>
      </body>
   
















