<!DOCTYPE html>
<html>
    <head>
        <style>
                table,td,th{
                
                border:2px solid pink;
            
                }
                th{
                background-color:Gray;
                color:white;
                }

        </style>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1"><!--linkler bölümüm-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
        <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
          <title>Ada bank internet </title>
<body>
    <section class="hero is-info is-fullheight"><!-- renk-->
        <div class="hero-body"> <!--sitesinin  arka plan işlemleri-->
          <div class="container">
            <div class="columns is-centered"><!--diğerleri ise sitesinin ortada düzenlenme gibi işlemler yapar--> 
              <div class="column is-half">
          <div style="text-align:center"><p>Ada bank internet şubesini kullandığınız için teşekkür ederiz.</p> </div>
                <table border="0">
            <tr>
                <th>Tarih</th>
                <th>İşlem</th>
            </tr>
            <tr>
                <td><script language="javascript" src="http://ir.sitekodlari.com/tarihvesaat1.js"></script></td>
                <td>İşlem şubesine giriş</td>
            </tr>
            <table>

<button onclick="window.location.href='http://127.0.0.1:5000/'">Giriş yap</button>




</html>
<body>